td {
    color: rebeccapurple;
}
h1 {
    background-color: cyan;
}
p {
    font-style: oblique;
}
table {
    border-style: dashed;
    font-style: italic;
}
tr:nth-child(even) {
    background-color: mediumaquamarine;
}
tr:nth-child(odd) {
    background-color: crimson;
}
th {
    text-align: center;
}