#header {
    text-align: center;
    color: firebrick;
    font-family: "Rock Salt", cursive;
}
#footer {
    text-align: center; 
    font-style: italic;
}
a {
    text-decoration: underline;
    color: saddlebrown;
}
a:visited {
    color: darkred;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
h4 {
    font-family: cursive;
    font-weight: bold;
}
.noscript-message {
    font-family: cursive;
    color: red;
    font-weight: bolder;
}